/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
fonts
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

@font-face {
  font-display: swap;
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/material-symbols-rounded-v156-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/poppins-v21-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/poppins-v21-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/poppins-v21-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/noto-sans-v36-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/noto-sans-v36-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/noto-sans-v36-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 800;
  src: url("./fonts/noto-sans-v36-latin-800italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/noto-sans-v36-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/noto-sans-v36-latin-700italic.woff2") format("woff2");
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
css variables
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

:root {
  /* sets font size to 10px and respects user font preferences */
  font-size: 62.5%;
  --tst-backup-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --tst-text-font: "Noto Sans", var(--tst-backup-fonts);
  --tst-highlight-font: "Poppins", var(--tst-backup-fonts);
  --tst-icon-font: "Material Symbols Rounded";
  --tst-nav-icon-font-size: 2rem;

  /* Default root space should always be 1rem */
  /* if not change padding here: #tst-site-nav > .tst-section-inner */
  --tst-root-space: 1rem;
  --tst-space-xs: calc(var(--tst-root-space) * 0.5);
  --tst-space-s: calc(var(--tst-root-space) * 1);
  --tst-space-m: calc(var(--tst-root-space) * 2);
  --tst-space-l: calc(var(--tst-root-space) * 4);
  --tst-space-xl: calc(var(--tst-root-space) * 8);
  --tst-space-xxl: calc(var(--tst-root-space) * 12);

  --tst-space-y: var(--tst-space-l);
  --tst-space-x: var(--tst-space-l);

  --tst-page-width-l: 1728px;
  --tst-page-width-m: 1296px;
  /* --tst-page-width-s: 1024px; */
  /* --tst-page-width-text: 720px; */
  --tst-default-page-width: var(--tst-page-width-m);

  --tst-h1: 6rem;
  --tst-h1: clamp(2.1rem, 5vw, 5.5rem);
  --tst-h2: 3rem;
  --tst-h3: 2.5rem;
  --tst-text: 1.7rem;

  --tst-border-radius: 0.3rem;

  --tst-nav-height: 8.5rem;
  --tst-nav-gap-x: 4rem;
  --tst-nav-gap-y: 3rem;
  --tst-nav-height-scrolled: 7.5rem;
  --tst-current-nav-height: var(--tst-nav-height);
  --tst-nav-underline-offset: 1.1rem;

  --tst-aspect-ratio-home: 16 / 7;
  --tst-aspect-ratio-home-mobile: 70vh;
  --tst-aspect-ratio-sub: 16 / 5;
  --tst-aspect-ratio-sub-mobile: 48vh;

  --tst-color-primary: #fdfeff;

  --tst-color-secondary: #5fd2ff;
  --tst-color-secondary-light: #d2f2ff;
  --tst-color-secondary-2: #fac60b;
  --tst-color-accent: #b26ef7;
  --tst-color-accent-dark: #9e3dff;

  --tst-color-text: #000a14;
  --tst-color-background-1: var(--tst-color-primary);
  --tst-color-nav: var(--tst-color-primary);

  /* needs to get changes inside nav.js:321 */
  --tst-animation-short: 0.2s;
  color: #184376;
}

[data-scrolled="true"] {
  --tst-current-nav-height: var(--tst-nav-height-scrolled);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
breakpoints
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

@media (max-width: 768px) {
  :root {
    --tst-root-space: 0.9rem;
    --tst-space-x: var(--tst-space-l);
    --tst-h1: 3.5rem;
    --tst-h2: 2.6rem;
    --tst-h3: 2.1rem;
    --tst-nav-underline-offset: 1.2rem;
  }
}

@media (max-width: 480px) {
  :root {
    --tst-root-space: 0.8rem;
    --tst-space-x: var(--tst-space-m);
  }
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
default styles
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--tst-text-font);
  font-size: var(--tst-text);
  line-height: 1.45;
  color: var(--tst-color-text);
  padding-top: var(--tst-current-nav-height);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--tst-color-primary);
}

html[data-scrolled="true"] body {
  overscroll-behavior-y: none;
}
html:not([data-scrolled="true"]) body {
  background-color: var(--tst-color-nav);
}

hr {
  outline: none;
  color: var(--tst-color-text);
  border-top: 1px solid currentColor;
}

h1,
h2,
h3 {
  font-family: var(--tst-highlight-font);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5em;
  hyphens: auto;
  white-space: pre-line;
  scroll-margin-top: calc(var(--tst-current-nav-height) + var(--tst-space-y));
}

h1 {
  font-size: var(--tst-h1);
}

h2 {
  font-size: var(--tst-h2);
}

h3 {
  font-size: var(--tst-h3);
}

.arrow::after {
  content: "\f1e1";
  margin-left: 0.2rem;
  transform: translateY(0.2rem);
  position: relative;
  display: inline-block;
  font-family: var(--tst-icon-font);
}

.arrow.new::after {
  content: "\e89e";
}

a {
  text-decoration: none;
  position: relative;
  color: var(--tst-color-accent-dark);
}

a:is(:hover, :focus-visible) {
  text-decoration: underline;
  outline: none;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
paragraph.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

p.tst-paragraph {
  margin-bottom: var(--tst-space-m);
  max-width: 75ch;
  white-space: pre-line;
}

p.tst-paragraph strong {
  font-weight: 700;
}

address p.tst-paragraph {
  font-style: normal;
  margin-bottom: 0;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
nav-link.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav:not(.tst-nav-mobile) > .tst-section-inner ul li {
  position: relative;
  width: min-content;
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  ul
  :is(li.tst-hover, li:not(.tst-preload))::before,
footer a:not(.tst-preload)::before {
  content: "";
  z-index: 101;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--tst-color-text);
  transition: width var(--tst-animation-short) ease-in-out;
  top: 50%;
  right: 0;
  transform: translateY(var(--tst-nav-underline-offset));
  animation: link-out var(--tst-animation-short) ease-in-out forwards;
}

footer a:not(.tst-preload)::before {
  background-color: var(--tst-color-text);
}

@keyframes link-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  ul
  :is(li:hover, li:focus-within)::before,
footer a:is(:hover, :focus-visible)::before {
  animation: link-in var(--tst-animation-short) ease-in-out forwards;
}

@keyframes link-in {
  from {
    width: 0;
    left: 0;
    right: unset;
  }
  to {
    width: 100%;
    left: 0;
    right: 0;
  }
}
/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
button.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-button {
  text-wrap: nowrap;
  appearance: none;
  outline: none;
  margin: 0;
  font-size: 1.6rem;
  padding: var(--tst-space-xs) calc(var(--tst-space-m) * 1.5);
  text-decoration: none;
  font-weight: 400;
  font-family: var(--tst-text-font);
  cursor: pointer;
  width: max-content;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  border-radius: var(--tst-border-radius);
  gap: 0.5rem;
  color: var(--tst-color-primary);
  border: 2px solid var(--tst-color-accent);
  background-color: var(--tst-color-accent);
  transition: all var(--tst-animation-short) ease-in-out;
}

.tst-button.secondary {
  color: var(--tst-color-primary);
  border-color: var(--tst-color-secondary);
  background-color: var(--tst-color-secondary);
}

.tst-button.secondary:is(:hover, :focus-visible) {
  color: var(--tst-color-secondary);
  background-color: var(--tst-color-primary);
  border-color: var(--tst-color-secondary);
}

.tst-button:is(:hover, :focus-visible) {
  background-color: var(--tst-color-primary);
  border-color: var(--tst-color-accent);
  color: var(--tst-color-accent);
  text-decoration: none;
}

.tst-button:active {
  transform: scale(0.99);
}

.tst-button.primary {
  color: var(--tst-color-text);
  border-color: var(--tst-color-primary);
  background-color: var(--tst-color-primary);
}

.tst-button.primary:is(:hover, :focus-visible) {
  color: var(--tst-color-primary);
  background-color: var(--tst-color-accent);
  border-color: var(--tst-color-accent);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
nav.js && nav-link.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

nav ul,
footer ul {
  list-style: none;
}

#tst-site-nav {
  touch-action: manipulation;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* overflow: hidden; */
  height: var(--tst-nav-height);
  z-index: 100;
  background-color: var(--tst-color-nav);
  color: var(--tst-color-text);
  transition: transform var(--tst-animation-short) ease-in-out;
  animation: open-nav var(--tst-animation-short) ease-in-out forwards;
  /* If this is changes the loaded font in "./js/modules/nav.js" has to be changed */
  font-family: "Noto Sans", var(--tst-backup-fonts);
  font-weight: 400;
}

#tst-site-nav > .tst-section-inner {
  /* don't change x padding this is needed for cs calculation */
  padding: 1rem 4rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--tst-nav-gap-x);
}

#tst-site-nav .tst-section-inner > ul {
  display: contents;
}

#tst-site-nav > .tst-section-inner ul li a {
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
}

#tst-site-nav.tst-nav-mobile > .tst-section-inner ul li a {
  font-size: 1.8rem;
}

#tst-site-nav .tst-section-inner li.tst-active > a {
  font-weight: 700;
}

/*______________________________________
Shrinking Nav
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-preload {
  animation: none;
}

[data-scrolled="true"] #tst-site-nav:not(.tst-nav-open).tst-nav-hide {
  transform: translateY(calc(-100% + var(--tst-space-s)));
}

@keyframes open-nav {
  from {
    height: var(--tst-nav-height-scrolled);
  }
  to {
    height: var(--tst-nav-height);
  }
}

[data-scrolled="true"] #tst-site-nav {
  animation: shrink-nav var(--tst-animation-short) ease-in-out forwards;
}

@keyframes shrink-nav {
  to {
    height: var(--tst-nav-height-scrolled);
  }
}

/*______________________________________
Logo
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav #tst-site-logo {
  height: 100%;
  margin-right: auto;
}
#tst-site-nav img {
  height: 100%;
  width: auto;
}

/*______________________________________
Desktop: Navigation
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav #tst-menu-btn {
  appearance: none;
  display: none;
  background-color: unset;
  color: var(--tst-color-text);
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  font-size: calc(var(--tst-current-nav-height) - 3 * var(--tst-space-s));
  line-height: 1;
  transition: all var(--tst-animation-short) ease-in-out;
}

#tst-site-nav #tst-menu-btn:is(:hover, :focus-visible) {
  color: var(--tst-color-accent);
}

#tst-site-nav #tst-menu-btn::before {
  content: "\e5d2";
  display: block;
  font-family: var(--tst-icon-font);
}

#tst-site-nav > .tst-section-inner .tst-nav-overlay {
  display: none;
  position: fixed;
  height: calc(100vh - var(--tst-current-nav-height));
  top: var(--tst-current-nav-height);
  left: 0;
  width: 100vw;
  z-index: 99;
}

/*______________________________________
Desktop: Sub Menu
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav:not(.tst-nav-mobile) .tst-section-inner li.tst-nav-sub-level {
  position: relative;
  display: flex;
  align-items: center;
}

#tst-site-nav:not(.tst-nav-mobile) .tst-section-inner li.tst-nav-sub-level > a {
  cursor: default;
}

#tst-site-nav .tst-section-inner li.tst-nav-sub-level::after {
  content: "\e5cf";
  font-family: var(--tst-icon-font);
  font-size: var(--tst-nav-icon-font-size);
  line-height: 1;
  padding-left: 0.3rem;
}

#tst-site-nav:not(.tst-nav-mobile) .tst-section-inner li.tst-nav-sub-level ul {
  display: none;
  position: absolute;
  top: 100%;
  padding: var(--tst-nav-gap-y) var(--tst-space-x);
  background-color: var(--tst-color-nav);
  flex-direction: column;
  gap: var(--tst-nav-gap-y);
  left: 0;
  transform: translateX(calc(-1 * var(--tst-space-x)));
  box-shadow: 0px 20px 20px 0px #3e43440d;
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  li.tst-nav-sub-level:last-child
  ul {
  transform: translate(var(--tst-space-x));
  right: 0;
  left: unset;
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  :is(li.tst-nav-sub-level:hover, li.tst-nav-sub-level:focus-within)
  ul {
  display: flex;
}

/*______________________________________
Mobile: Navigation
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-nav-mobile > .tst-section-inner {
  padding: var(--tst-space-s) var(--tst-space-x);
}

#tst-site-nav.tst-nav-open #tst-menu-btn::before {
  content: "\e5cd";
}
#tst-site-nav.tst-nav-mobile #tst-menu-btn {
  display: block;
}

#tst-site-nav.tst-nav-mobile {
  overflow: visible;
}

#tst-site-nav.tst-nav-mobile > .tst-section-inner > ul {
  display: none;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open > .tst-section-inner > ul {
  animation: slide-in var(--tst-animation-short) ease-out forwards;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--tst-color-nav);
  height: calc(100vh - var(--tst-current-nav-height));
  top: var(--tst-current-nav-height);
  right: 0;
  z-index: 100;
  width: max-content;
  gap: 0;
  padding: 0 0 12rem 0;
  min-width: 62vw;
  /* border-left: 2px solid var(--tst-color-nav);
  border-right: 2px solid var(--tst-color-nav); */
  overflow-y: scroll;
}

@media (max-width: 480px) {
  #tst-site-nav.tst-nav-mobile.tst-nav-open > .tst-section-inner > ul {
    min-width: 93vw;
  }
}

#tst-site-nav.tst-nav-mobile.tst-nav-open.tst-nav-close
  > .tst-section-inner
  > ul {
  animation: slide-out var(--tst-animation-short) ease-out forwards;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open
  > .tst-section-inner
  > ul
  li:not(.tst-nav-sub-level) {
  display: block;
  width: 100%;
  /* if change: mobile sub should be updated */
  padding: 0;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open
  > .tst-section-inner
  > ul
  li:not(.tst-nav-sub-level)
  > a {
  padding: calc(var(--tst-nav-gap-y) / 2) var(--tst-space-l);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/*______________________________________
Mobile: Overlay
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
#tst-site-nav.tst-nav-mobile.tst-nav-open
  > .tst-section-inner
  .tst-nav-overlay {
  display: block;
  animation: blur-in var(--tst-animation-short) ease-out forwards;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open.tst-nav-close
  > .tst-section-inner
  .tst-nav-overlay {
  animation: blur-out var(--tst-animation-short) ease-out forwards;
}

@keyframes blur-in {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

@keyframes blur-out {
  from {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
  to {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

/*______________________________________
Mobile: Sub Menu
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;
  grid-auto-flow: dense;
  cursor: pointer;
  --highlight-border: 1rem;
}
#tst-site-nav.tst-nav-mobile.tst-section
  .tst-section-inner
  li.tst-nav-sub-level.tst-open {
  background-color: var(--tst-color-accent-light);
  border-left: var(--highlight-border) solid var(--tst-color-accent);
}
#tst-site-nav.tst-nav-mobile.tst-section
  .tst-section-inner
  li.tst-nav-sub-level
  li
  a {
  padding-left: calc(var(--tst-space-l) - var(--highlight-border));
  background-color: var(--tst-color-primary);
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level li a {
  color: var(--tst-color-text);
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level ul {
  display: none;
}

#tst-site-nav.tst-nav-mobile
  .tst-section-inner
  li.tst-nav-sub-level.tst-open
  ul {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  background-color: transparent;
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level > a {
  padding: calc(var(--tst-nav-gap-y) / 2) 0 calc(var(--tst-nav-gap-y) / 2)
    var(--tst-space-l);
  position: relative;
}

#tst-site-nav.tst-nav-mobile
  .tst-section-inner
  li.tst-nav-sub-level.tst-open
  > a {
  padding-left: calc(var(--tst-space-l) - var(--highlight-border));
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
col-2.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-col-2 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tst-space-l);
}

.tst-col-2 > * {
  flex: 1 1 0;
  min-width: min(calc(100vw - var(--tst-space-x) * 2), 50rem);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
section.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

main {
  display: contents;
}

.tst-section {
  width: 100vw;

  background-position: bottom;
  background-size: cover;
  background: var(--tst-color-primary);
  background-repeat: no-repeat;
  background-size: cover;
}

.tst-section .tst-section-inner {
  max-width: calc(var(--tst-default-page-width) + var(--tst-space-x) * 2);
  margin: 0 auto;
  padding: var(--tst-space-y) var(--tst-space-x);
  grid-auto-flow: dense;
}

.tst-section.secondary {
  background-color: var(--tst-color-secondary);
}

.tst-section.secondary-2 {
  background-color: var(--tst-color-secondary-2);
}

.tst-section.wide .tst-section-inner {
  max-width: calc(var(--tst-page-width-l) + var(--tst-space-x) * 2);
}

.tst-section.small .tst-section-inner {
  max-width: calc(var(--tst-page-width-text) + var(--tst-space-x) * 2);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
cta.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-cta .tst-section-inner {
  display: grid;
  gap: var(--tst-space-m);
  place-items: center;
  text-align: center;
}

.tst-cta .tst-section-inner {
  max-width: 75ch;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
footer.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-footer {
  background-color: var(--tst-color-secondary);
  color: var(--tst-color-text);
  position: relative;
  --wave-height: 4rem;
  margin-top: auto;
  overflow: hidden;
}

#tst-footer .tst-section-inner {
  display: grid;
  grid:
    "img img fam"
    "som con jug"
    "byt leg geb"/
    1fr auto auto;
  gap: var(--tst-space-l) var(--tst-space-xxl);
  align-items: start;
  font-size: 1.5rem;
  padding-top: calc(var(--wave-height) + var(--tst-space-y));
}

#tst-footer .tst-footer-socials {
  grid-area: som;
  display: flex;
  gap: var(--tst-space-m);
}

#tst-footer .tst-footer-socials ul {
  display: contents;
}

#tst-footer .tst-footer-socials img {
  width: 4.5rem;
  height: auto;
}

#tst-footer .tst-by-link {
  grid-area: byt;
  align-self: end;
}

#tst-footer .tst-footer-legal {
  grid-area: leg;
}

#tst-footer .tst-footer-contact {
  grid-area: con;
}

#tst-footer .tst-footer-contact address {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.5;
}

#tst-footer h3 {
  margin-bottom: 0.35em;
}

#tst-footer .tst-footer-socials a::before {
  display: none;
}

#tst-footer .tst-footer-touren-fuer-kinder-und-familien {
  grid-area: fam;
  align-self: end;
}

#tst-footer .tst-footer-touren-fuer-jugendliche {
  grid-area: jug;
}

#tst-footer .tst-footer-kindergeburtstage {
  grid-area: geb;
}

#tst-footer .tst-section-inner > .tst-img {
  grid-area: img;

  max-width: min(32rem, 70%);
}

#tst-footer a {
  color: inherit;
  text-decoration: none;
  position: relative;
  text-wrap: nowrap;
}

#tst-footer p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #tst-footer .tst-section-inner {
    grid:
      "som con"
      "jug geb"
      "fam leg"
      "byt byt" /
      auto auto;
    gap: var(--tst-space-l) var(--tst-space-m);
    font-size: var(--tst-text);
  }

  #tst-footer a {
    text-wrap: wrap;
  }

  #tst-footer a::before {
    display: none;
  }

  #tst-footer .tst-section-inner > * {
    align-self: start;
  }

  #tst-footer .tst-section-inner > .tst-img {
    display: none;
  }

  #tst-footer .tst-footer-socials img {
    width: 3.5rem;
  }

  #tst-footer .tst-section-inner > .tst-by-link:last-child {
    justify-self: center;
  }
}

@media (max-width: 480px) {
  #tst-footer {
    --wave-height: 2.4rem;
  }
  #tst-footer .tst-section-inner {
    grid:
      "som"
      "con"
      "leg"
      "byt" /
      auto;
  }

  #tst-footer .tst-section-inner > .tst-footer-socials {
    justify-self: center;
    gap: var(--tst-space-l);
  }

  #tst-footer
    .tst-section-inner
    > :not(
      .tst-footer-socials,
      .tst-by-link,
      .tst-footer-contact,
      .tst-footer-legal
    ) {
    display: none;
  }
}

/* wave above footer */

#tst-footer .before {
  object-fit: cover;
  position: absolute;
  top: 0;
  background-color: var(--tst-color-primary);
  left: 0;
  width: auto;
  max-width: unset;
  height: var(--wave-height);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
hero.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
.tst-hero {
  overflow: hidden;
}

.tst-hero.tst-section > .tst-section-inner {
  aspect-ratio: var(--tst-aspect-ratio-sub);
  min-height: var(--tst-aspect-ratio-sub-mobile);
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}

[data-page="index"] .tst-hero.tst-section > .tst-section-inner {
  aspect-ratio: var(--tst-aspect-ratio-home);
  min-height: var(--tst-aspect-ratio-home-mobile);
}

.tst-hero > .tst-section-inner h1 {
  max-width: 80%;
}

.tst-hero > .tst-section-inner > div {
  background-color: var(--tst-color-primary);
  max-width: calc(var(--tst-default-page-width) + var(--tst-space-x) * 2);
  margin: 0 auto;
  padding: var(--tst-space-l) var(--tst-space-x);
  z-index: 50;
  position: relative;
  width: 100%;
}

.tst-hero > .tst-section-inner > div::before,
.tst-hero > .tst-section-inner > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--tst-space-x);
  height: 100%;
  transform: translateX(calc(-100% + 1px));
  background-color: var(--tst-color-primary);
}

.tst-hero > .tst-section-inner > div::after {
  right: 0;
  left: unset;
  transform: translateX(calc(100% - 1px));
}

.tst-hero .tst-img {
  height: 100%;
  width: 100%;
  filter: brightness(0.8);
  position: absolute;
}

.tst-hero + .tst-section > .tst-section-inner {
  padding-top: 0;
}

@media (max-width: 480px) {
  body[data-page="index"] .tst-hero + .tst-section > .tst-section-inner {
    padding-top: var(--tst-space-y);
  }

  body[data-page="index"] .tst-hero .tst-img {
    filter: brightness(0.7);
  }

  body[data-page="index"] .tst-hero > .tst-section-inner > div {
    background-color: transparent;
  }

  body[data-page="index"] .tst-hero > .tst-section-inner h1 {
    color: var(--tst-color-primary);
    max-width: unset;
  }
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
form.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-form {
  display: grid;
  gap: var(--tst-space-m);
  margin: var(--tst-space-x) 0;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

#tst-form > * {
  grid-column: 1 / 2;
}

#tst-form > label[for="message"] {
  grid-area: 1 / 2 / 6 / 3;
}

#tst-form > label[for="message"] textarea {
  height: 100% !important;
}

@media (max-width: 768px) {
  #tst-form {
    grid-template-columns: 1fr;
  }

  #tst-form > * {
    grid-column: unset;
  }

  #tst-form > label[for="message"] {
    grid-area: unset;
  }
}

#tst-form label {
  display: flex;
  flex-direction: column;
  background-color: var(--tst-color-secondary-light);
  padding: var(--tst-space-xs) var(--tst-space-s);
  position: relative;
  border: 2px solid var(--tst-color-secondary-light);
}

#tst-form label:not([for="privacy"]):focus-within {
  border: 2px solid var(--tst-color-secondary-2);
}

#tst-form label span.label {
  opacity: 0.6;
}

#tst-form label:is(:hover, :focus-within) span.label {
  opacity: 1;
}

#tst-form :is(textarea, select, input) {
  background-color: inherit;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
}

#tst-form textarea {
  resize: vertical;
}

#tst-form .two-col {
  display: flex;
  gap: var(--tst-space-m);
  flex-wrap: wrap;
}

#tst-form .two-col > * {
  min-width: 20rem;
  flex: 1 1 auto;
}

/* invalid message */

#tst-form
  input:not(.tst-preload):invalid:not(:placeholder-shown)
  + span::before {
  content: "Ungültig";
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--tst-color-accent);
  display: block;
}

#tst-form input:not(.tst-preload):invalid:not(:placeholder-shown) + span {
  position: absolute;

  border: 0.2rem solid var(--tst-color-accent);
  background-color: var(--tst-color-primary);
  padding: 0.2rem 0.6rem;

  top: 0;
  right: 0;
  transform: translate(0.5rem, -0.5rem);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
tour-preview.js && tour-grid.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

/* .tst-tour-preview .tst-section-inner > h2 {
  margin-bottom: var(--tst-space-x);
} */

/* .tst-tour-preview.tst-about-me .tst-section-inner > h2 {
  margin-left: min(
    calc((var(--tst-default-page-width) - var(--tst-page-width-text)) / 2),
    max(
      calc(((100vw - var(--tst-page-width-text)) / 2) - var(--tst-space-x)),
      0px
    )
  ); */

/* Tour Grid */

.tst-tour-grid {
  display: grid;
  gap: var(--tst-space-l);
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.tst-tour-grid li {
  list-style: none;
}

/* Card */

.tst-tour-card {
  position: relative;
  box-shadow: 0px 6px 20px 0px #3e434420;
  overflow: hidden;
  border-radius: var(--tst-border-radius);
}

.tst-tour-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.175) 0%,
    rgba(0, 0, 0, 0.519) 100%
  );
  z-index: 2;
}

.tst-tour-card > div {
  aspect-ratio: 1.4 / 1;
  padding: var(--tst-space-m);
  color: var(--tst-color-primary);
  inset: 0;
  display: grid;
  grid:
    "h w"
    "b b" /
    auto 4rem;
  gap: var(--tst-space-m);
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.tst-tour-card h3 {
  margin: 0;
  grid-area: h;
}

.tst-tour-card .tst-img {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 1;
}

.tst-tour-card .tst-category-icon img {
  width: 4rem;
  height: auto;
  filter: grayscale(100%) brightness(2);
}

.tst-tour-card .tst-button {
  margin: auto 0 0 auto;
  grid-area: b;
}

.tst-category-icons {
  grid-area: w;
  display: flex;
  flex-direction: column;
  gap: var(--tst-space-s);
}

/* category-wrapper */

.tst-category-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tst-space-xs) var(--tst-space-s);
  margin-bottom: var(--tst-space-m);
}

.tst-category-wrapper li {
  list-style: none;
  text-wrap: nowrap;
}

.tst-category-cell {
  border-radius: 5rem;
  padding: 0rem 1rem;
  background-color: inherit;
  border: 2px solid var(--tst-color-secondary-2);
  font-size: 1.5rem;
  background-color: var(--tst-color-primary);
  color: var(--tst-color-text);
  transition: all var(--tst-animation-short) ease-in-out;
}

/* categoryList from ./js/modules/categories.js */
[data-category="al"] [data-category="al"],
[data-category="kt"] [data-category="kt"],
[data-category="jt"] [data-category="jt"],
[data-category="be"] [data-category="be"],
[data-category="in"] [data-category="in"],
[data-category="ou"] [data-category="ou"] {
  background-color: var(--tst-color-secondary-2);
}

.tst-category-cell:is(:hover, :focus-within) {
  background-color: var(--tst-color-secondary-2);
  text-decoration: none;
}

@media (max-width: 768px) {
  .tst-tour-card > div {
    aspect-ratio: 16 / 9;
  }
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
tour-list-card.js && tour-list.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

/* tour-list.js */

.tst-tour-list {
  display: flex;
  flex-direction: column;
}

.tst-tour-list li {
  list-style-type: none;
}

/* tour-list-card.js */

.tst-tour-list-card {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: var(--tst-space-l);
  padding: var(--tst-space-l) 0;
  border-bottom: var(--tst-color-text) 2px solid;
}

.tst-tour-list-card:last-child {
  border-bottom: none;
}

.tst-tour-list-content {
  display: flex;
  flex-direction: column;
}

.tst-tour-list-content .tst-paragraph {
  /* max-width: 55ch; */
}

.tst-tour-list-content .tst-button {
  margin-top: var(--tst-space-m);
  align-self: flex-end;
}

.tst-tour-list-content > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}

.tst-tour-list-info {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tst-space-m);
  margin-top: auto;
}

.tst-tour-list-info {
  display: flex;
  flex-direction: column;
  gap: var(--tst-space-s);
}

.tst-tour-list-duration,
.tst-tour-list-age,
.tst-tour-list-info li > a {
  display: flex;
  align-items: center;
  gap: var(--tst-space-s);
}

.tst-tour-list-info li > a {
  color: var(--tst-color-secondary-text);
}

.tst-tour-list-info li span {
  max-width: 22ch;
}

.tst-tour-list-info li img {
  width: 3.5rem;
  height: auto;
}

/* tourCardImg() */

.tst-tour-list-card .tst-image {
  position: relative;
  align-self: start;
}

.tst-tour-list-card .tst-img {
  aspect-ratio: 2 / 1.5;
}

/* default-page-width + space-x * 2 */
@media (min-width: 1376px) {
  .tst-tour-list-card {
    padding: var(--tst-space-l) var(--tst-space-xl);
  }
}

@media (max-width: 768px) {
  .tst-tour-list-card {
    grid-template-columns: 1fr;
  }

  .tst-tour-list-card > .tst-img {
    aspect-ratio: 2 / 1.2;
  }
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
image.js && picture.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-picture > *,
.tst-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--tst-border-radius);
}

.tst-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.tst-picture {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tst-picture-wrapper {
  display: contents;
}

.tst-picture-wrapper figcaption {
  font-size: 1.4rem;
  text-align: center;
  margin: calc(-1 * var(--tst-space-s)) 0 var(--tst-space-s) 0;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
slider.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
.tst-slider-wrapper {
  padding-bottom: 4rem;
  position: relative;
}

.tst-slider {
  cursor: ew-resize;
  display: flex;
  width: max-content;
  gap: var(--tst-space-l);
  padding-bottom: 2.5rem;
}

.tst-slider li {
  list-style: none;
}

.tst-slider-outer {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
}

.tst-slider > * {
  scroll-snap-align: start;
  --columns: 1;
  width: min(
    calc(
      (
          var(--tst-default-page-width) - var(--tst-space-x) *
            (var(--columns) - 1)
        ) / var(--columns)
    ),
    calc((100vw - var(--tst-space-x) * (var(--columns) + 1)) / var(--columns))
  );
}

.tst-slider-outer.c4 .tst-slider > * {
  --columns: 4;
}

.tst-slider-outer.c3 .tst-slider > * {
  --columns: 3;
}

.tst-slider-outer.c2 .tst-slider > * {
  --columns: 2;
}

.tst-slider-outer.c1 .tst-slider > * {
  --columns: 1;
}

.tst-slider-prev,
.tst-slider-next {
  font-family: var(--tst-icon-font);
  appearance: none;
  background-color: transparent;
  outline: 0;
  border: 0;
  color: var(--tst-color-text);
  position: absolute;
  bottom: -1rem;
  font-size: 6rem;
  line-height: 1;
  cursor: pointer;
  transition: all var(--tst-animation-short) ease-in-out;
}

:is(.tst-slider-prev, .tst-slider-next):is(:hover, :focus-visible) {
  color: var(--tst-color-accent);
}

.tst-slider-prev {
  left: 0;
}

.tst-hide-prev .tst-slider-prev {
  display: none;
}

.tst-slider-prev::before {
  content: "\e408";
}

.tst-slider-next {
  right: 0;
}

.tst-hide-next .tst-slider-next {
  display: none;
}

.tst-slider-next::before {
  content: "\e409";
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
kundenmeinungen()
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-slider blockquote {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  padding-top: 6rem;
  padding-left: 2rem;
  padding: 4rem 0 3rem 2rem;
  height: 100%;
}

.tst-slider blockquote::before {
  content: "“";
  font-size: 9rem;
  font-weight: 700;
  font-family: var(--tst-icon-font);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0rem, -2.2rem);
  line-height: 1;
  color: var(--tst-color-secondary);
}

.tst-slider blockquote::after {
  content: attr(data-author);
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.7;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
empfehlungen()
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-empfelungen-section {
  margin-top: var(--tst-space-xl);
  display: grid;
  gap: 0 var(--tst-space-l);
  grid:
    "i q" /
    1.1fr 2fr;
}

.tst-empfehlungen section:nth-of-type(odd).tst-empfelungen-section {
  margin-top: 0;
  grid:
    "q i" /
    2fr 1.1fr;
}

.tst-empfelungen-section h3 {
  font-weight: 400;
  font-size: 1.8rem;
  /* margin: 0 0 var(--tst-space-s) 0; */
}

.tst-empfelungen-section > div {
  grid-area: q;
  align-self: start;
  padding: 3.4rem 0 0 1.7rem;
  position: relative;
}

.tst-empfehlungen section:nth-of-type(odd) > div {
  max-width: max-content;
  justify-self: end;
}

.tst-empfelungen-section > div::before {
  content: "“";
  font-size: 7.35rem;
  font-weight: 700;
  font-family: var(--tst-icon-font);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0rem, -1.87rem);
  line-height: 1;
  color: var(--tst-color-secondary);
}

.tst-empfehlungen .tst-img {
  grid-area: i;
  justify-self: start;
  align-self: center;
  aspect-ratio: 1 / 1;
  height: auto;
  width: 24rem;
  border-radius: 50%;
  margin-left: 1.7rem;
}

.tst-empfehlungen section:nth-of-type(even) .tst-img {
  justify-self: end;
  margin: 0;
}

.tst-empfehlungen .tst-paragraph {
  max-width: 59ch;
  hyphens: auto;
  text-align: justify;
  margin: 0;
}

@media (max-width: 768px) {
  .tst-empfelungen-section {
    gap: 0;
    grid:
      "i"
      "q";
  }

  .tst-empfehlungen section:nth-of-type(odd).tst-empfelungen-section {
    margin-top: var(--tst-space-l);
    grid:
      "i"
      "q";
  }

  .tst-empfehlungen .tst-img {
    justify-self: start;
    margin: 0 0 -10rem;
  }

  .tst-empfehlungen section:nth-of-type(even) .tst-img {
    justify-self: start;
    margin: 0 0 -10rem;
  }

  .tst-empfelungen-section > div {
    justify-self: end;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: #ffffff92;
    margin-left: 6rem;
  }

  .tst-empfelungen-section > div::before {
    left: unset;
    right: 0;
    top: -5rem;
    font-size: 12rem;
  }

  .tst-empfehlungen section:nth-of-type(odd) > div {
    justify-self: end;
  }
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
tour-dates.js
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-tour-dates-slider {
  display: flex;
}

.tst-tour-date-images li {
  display: none;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
agentur()
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-agentur .tst-col-2 {
  flex-wrap: wrap-reverse;
}

.tst-agentur .tst-col-2-left {
  max-width: 75ch;
  margin: 0 auto;
}

.tst-agentur .tst-col-2-left .tst-paragraph {
  margin-left: auto;
  margin-right: auto;
}

.tst-agentur .tst-col-2 .tst-img {
  width: 100%;
  height: 100%;
}
